body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9; /* Color de fondo */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    border: 2px solid #ed22a2; /* Borde rosado */
    background-color: #ffeef8; /* Fondo suave */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #ed22a2; /* Color rosado para el botón */
    color: #fff;
    border: none;
    border-radius: 5%;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d91e8c; /* Color más oscuro en hover */
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #3d3d3d;
}

a {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: #ed22a2; /* Color rosado para el enlace */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline; /* Subrayado en hover */
}
header {
    position: absolute;
    top: 10px;
    left: 10px;
}